<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SHOP-NAME</title>

    <!-- Bootstrap core CSS -->
    <link href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/all.css" rel="stylesheet">

    <link href="/webjars/font-awesome/5.0.10/web-fonts-with-css/css/fontawesome-all.css" rel="stylesheet">
</head>
<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse mr-auto mt-1 mb-1" id="navbarNavAltMarkup">
            <div class="navbar-nav mr-auto col-1">
                <a class="navbar-brand" th:href="@{/}">SHOP-NAME</a>
            </div>
            <div class="dropdown show col-1 mr-auto">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="abc" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categories
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <div class="text-center row" style="width: 600px;">
                            <ul class="list-unstyled col-4">
                                <li><a class="dropdown-item" th:href="@{/category/GraphicsCards}">Graphics Cards</a></li>
                                <li><a class="dropdown-item" th:href="@{/category/Processors}">Processors</a></li>
                                <li><a class="dropdown-item" th:href="@{/category/Motherboards}">Motherboards</a></li>
                                <li><a class="dropdown-item" th:href="@{/category/Memory}">Memory</a></li>
                                <li><a class="dropdown-item" th:href="@{/category/Keyboards}">Keyboards</a></li>
                                <li><a class="dropdown-item" th:href="@{/category/Headphones}">Headphones</a></li>
                            </ul>
                            <ul class="list-unstyled col-4">
                                <li><a class="dropdown-item" th:href="@{/category/Monitors}">Monitors</a></li>
                                <li><a class="dropdown-item" th:href="@{/category/HDDdisks}">HDD disks</a></li>
                                <li><a class="dropdown-item" th:href="@{/category/SSDdisks}">SSD disks</a></li>
                                <li><a class="dropdown-item" th:href="@{/category/NetworkCards}">Network Cards</a></li>
                                <li><a class="dropdown-item" th:href="@{/category/Microphones}">Microphones</a></li>
                            </ul>
                            <ul class="list-unstyled col-4">
                                <li><a class="dropdown-item" th:href="@{/category/PowerSupplies}">Power Supplies</a></li>
                                <li><a class="dropdown-item" th:href="@{/category/PCCases}">PC Cases</a></li>
                                <li><a class="dropdown-item" th:href="@{/category/SoundCards}">Sound Cards</a></li>
                                <li><a class="dropdown-item" th:href="@{/category/Mice}">Mice</a></li>
                                <li><a class="dropdown-item" th:href="@{/category/Speakers}">Speakers</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="navbar-nav mr-auto col-8">
                <form class="input-group" th:action="@{/searchProduct}" method="POST">
                    <input style="width: 50%" type="text" class="form-control" placeholder="" aria-label=""
                           aria-describedby="basic-addon1" name="searchedProductName">
                    <select class="custom-select" id="inputGroupSelect01" name="searchedCategory">
                        <option selected value="All">All Categories</option>
                        <option value="Graphic Card">Graphics Cards</option>
                        <option value="Processor">Processors</option>
                        <option value="Motherboard">Motherboards</option>
                        <option value="RAM">Memory</option>
                        <option value="Monitor">Monitors</option>
                        <option value="HDD">HDD disks</option>
                        <option value="SSD">SSD disks</option>
                        <option value="Network card">Network Cards</option>
                        <option value="Power Supply">Power Supplies</option>
                        <option value="PC Case">PC Cases</option>
                        <option value="Sound Card">Sound Cards</option>
                        <option value="Mouse">Mice</option>
                        <option value="Keyboard">Keyboards</option>
                        <option value="Microphone">Microphones</option>
                        <option value="Speakers">Speakers</option>
                        <option value="Headphones">Headphones</option>
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-primary text-light" type="submit">Search</button>
                    </div>
                </form>
            </div>
            <div class="navbar-nav mr-auto">
                <a sec:authorize="isAnonymous()" role="button" class="btn btn-primary ml-3 mr-3" href="#" data-toggle="modal"
                   data-target="#login-modal">Login</a>
                <a sec:authorize="isAnonymous()" class="nav-item nav-link" th:href="@{/signUp}">Sign up</a>
                <div sec:authorize="isAuthenticated()" class="dropdown show">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        My Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" th:href="@{/}">Bought</a>
                        <a class="dropdown-item" th:href="@{/followed}">Followed</a>
                        <div class="dropdown-divider"></div>
                        <a sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-item" th:href="@{/admin/adminPage}">Admin Panel</a>
                        <div sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/user/settings}">Settings</a>
                        <a class="dropdown-item" th:href="@{/logout}">Logout</a>
                    </div>
                </div>
                <a sec:authorize="isAuthenticated()" class="nav-item nav-link" th:href="@{/cart}"><i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <!-- Login Modal -->
        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modalTitle"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Login</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="offset-2 col-8">
                                <div class="well">
                                    <form id="loginForm" method="POST" th:action="@{/signIn}">
                                        <div class="form-group">
                                            <label for="username" class="control-label">Username</label>
                                            <input type="text" class="form-control" id="username" name="username"
                                                   required title="Please enter you username"
                                                   placeholder="Login"/>
                                            <span class="help-block"></span>
                                        </div>
                                        <div class="form-group">
                                            <label for="password" class="control-label">Password</label>
                                            <input type="password" class="form-control" id="password" name="password"
                                                   required title="Please enter your password"/>
                                            <span class="help-block"></span>
                                        </div>
                                        <button type="submit" class="btn btn-success btn-block">Login</button>
                                        <a href="/forgot" class="btn btn-default btn-block">Forgot password</a>
                                        <a th:href="@{/signUp}" class="btn btn-default btn-block">Register</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Login Modal -->
        <div th:object="${product}">
            <div class="col-6 mt-5">
                <h4 th:text="*{name}"></h4>
                <div id="photosCarousel" class="carousel slide mt-5" data-ride="carousel"
                     style="width: 540px; height: 370px">
                    <div class="carousel-inner">
                        <div class="carousel-item" th:each="image:*{images}" th:classappend="${imageStat.first}?'active'">
                            <img class="d-block w-100 card-image" th:src="${image.url}">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#photosCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#photosCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-3 mt-5">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Information</div>
                    <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-star"></i> Rating: 4.7</h5>
                        <p class="card-text">Bought 42 time(s).</p>
                    </div>
                </div>
                <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                    <div class="card-header">Description</div>
                    <div class="card-body">
                        <p class="card-text" th:text="*{description}"></p>
                    </div>
                </div>
            </div>
            <div class="col-3 mt-5">
                <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Offer</div>
                    <div class="card-body">
                        <h5 class="card-title" th:text="'Price: '+*{price}+'$'"></h5>
                        <p class="card-text font-weight-bold" th:text="'Amount left: '+*{amount}"></p>
                        <form method="post" th:action="@{/cart/add/{id}(id=${product.id})}">
                            <button style="width: 100%" type="submit" class="btn-lg btn-danger">
                                <i class="fas fa-shopping-cart"></i> Add to cart
                            </button>
                        </form>
                        <form method="post" th:action="@{/product/follow/{id}(id=${product.id})}">
                            <button type="submit" class="btn-sm btn-secondary my-2" ><i class="fas fa-heart"></i> Add to
                                favourites
                            </button>
                        </form>
                        <p class="card-text font-weight-bold">Free shipping!</p>
                    </div>
                </div>
            </div>

            <div class="mt-4 col-12">
                <h2 class="mb-4">Specifications: </h2>
                <table class="table table-striped">
                    <tbody id="tablebody">
                    <tr>
                        <td style="width: 25%" >Producent</td>
                        <td style="width: 75%" th:text="*{producer}"></td>
                    </tr>
                    <tr th:each="spec:*{productSpecifications}">
                        <td style="width: 25%" th:text="${spec.specification.name}"></td>
                        <td style="width: 75%" th:text="${spec.specification.value}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="/webjars/popper.js/1.14.1/popper.js"></script>
</body>
</html>