<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SHOP-NAME</title>

    <!-- Bootstrap core CSS -->
    <link href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/all.css" rel="stylesheet">

    <link href="/webjars/font-awesome/5.0.10/web-fonts-with-css/css/fontawesome-all.css" rel="stylesheet">
</head>
<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <div class="collapse navbar-collapse mr-auto mt-1 mb-1" id="navbarNavAltMarkup">
            <div class="navbar-nav mr-auto col-2">
                <a class="navbar-brand" th:href="@{/}">SHOP-NAME</a>
            </div>
            <div class="navbar-nav mr-auto col-8">
                <div class="input-group ">
                    <input style="width: 50%" type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
                    <select class="custom-select" id="inputGroupSelect01">
                        <option disabled selected>Choose category</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-primary text-light" type="button">Search</button>
                    </div>
                </div>
            </div>
            <div class="navbar-nav mr-auto">
                <a role="button" class="btn btn-primary ml-3 mr-3" href="login.html">Login</a>
                <a class="nav-item nav-link" th:href="@{/signUp}">Sign up</a>
            </div>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <div class="row">
        <h1 class="offset-2 mt-5">Registration Form</h1>
        <div class="offset-2 col-8">
            <form id="signUpForm" th:action="@{/signUp}" method="post" th:object="${user}">
                <div class="col-12">
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" placeholder="Enter Username Here.." class="form-control"  th:field="*{username}" required>
                    </div>
                    <div class="form-group">
                        <label>Email Address</label>
                        <input type="text" placeholder="Enter Email Address Here.." class="form-control"  th:field="*{email}" required>
                    </div>
                    <div class="row">
                        <div class="col-6 form-group">
                            <label>Password</label>
                            <input id="pass" type="password" class="form-control" th:field="*{password}" required>
                        </div>
                        <div class="col-6 form-group">
                            <label>Confirm Password</label>
                            <input id="repass" type="password" class="form-control" required>
                        </div>
                    </div>
                    <hr class="my-3">
                    <div class="row">
                        <div class="col-6 form-group">
                            <label>First Name</label>
                            <input id="firstname" placeholder="Enter First Name Here.." type="text" class="form-control" th:field="*{firstname}" required>
                        </div>
                        <div class="col-6 form-group">
                            <label>Last Name</label>
                            <input id="lastname" placeholder="Enter Last Name Here.." type="text" class="form-control" th:field="*{lastname}" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Home Address</label>
                        <input type="text" placeholder="Enter Home Address Here.." class="form-control" th:field="*{homeAddress}" required>
                    </div>
                    <div class="row">
                        <div class="col-6 form-group">
                            <label>City</label>
                            <input type="text" placeholder="Enter City Name Here.." class="form-control" th:field="*{city}" required>
                        </div>
                        <div class="col-6 form-group">
                            <label>Zip</label>
                            <input type="text" placeholder="Enter Zip Code Here.." class="form-control" th:field="*{zipcode}" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Phone Number</label>
                        <input type="text" placeholder="Enter Phone Number Here.." class="form-control" th:field="*{phone}" required>
                    </div>
                    <button id="submit" type="submit" class="btn btn-lg btn-info float-right">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="/webjars/popper.js/1.14.1/popper.js"></script>
<script src="/js/signup-validate.js"></script>
</body>
</html>
